body {
  background: gray;
  font-family: sans-serif;
}

.container {
  text-align: center;
  top: 40px;
  bottom: 20px;
  position: absolute;
  width: 100%;
  background-image: url('./paper-background.png');
  background-size: cover;
}

.winner {
  /* display: inline-block; */
  margin-top: 15%;
}
.winner > h2 {
  margin-bottom: 0%;
  color: red;
}

.score {
  display: inline-block;
}

.x-score {
  float: left;
  padding-right: 50px;
  font-size: 50px;
  color: red;
}

.o-score {
  float: right;
  font-size: 50px;
  color: red;
  /* margin-left: 50%; */
}


.new-game {
  margin-top: 5%;
}

.new-game button {
  display: none;
}


.grid {
  margin-top: 5%;
  grid-template-columns: auto auto auto;
  display: inline-grid;
  width: 35%;
  color: red;
}

.grid > div > p {
  /* display: inline-block; */
  text-align: center;
  width: 100%;
  font-size: 60px;
}

.top {
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid black;
  /* margin: 5px; */
  height: 150px;
  background-color: transparent;
}

.top-mid {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.mid {
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid black;
  /* margin: 5px; */
  height: 150px;
  background: transparent;
}

.mid-mid {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.bot {
  text-align: center;
  font-size: 30px;
  /* margin: 5px; */
  height: 150px;
  background: transparent;
}

.bot-mid {
  border-left: 2px solid black;
  border-right: 2px solid black;
}


/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
} */