<!DOCTYPE html>

<html>

<head>
  <title>CSV-Reporting Tool</title>
</head>


<style>
  p {
    margin-top: 0em;
  }
  form {
    margin-bottom: 25px;
  }
  .submit-button {
    margin-top: 25px;
  }
</style>

<body>
  <h1>CSV-Reporting Tool</h1>
  <form>
    <label for="report">Choose a file:</label>
    <input type="file">
        <div class="submit-button">
          <input type="submit" value="Submit">
        </div>
  </form>
</body>
<script src="../client/app.js"></script>
</html>


