<!DOCTYPE html>

<html>

<head>
  <title>CSV-Reporting Tool</title>
</head>

<style>
  p {
    margin-top: 0em;
  }
  form {
    margin-bottom: 25px;
  }
</style>

<body>
  <h1>CSV-Reporting Tool</h1>
  <form action="/submit" method="post">
    <input id="submittext" type="text" name="submittext" placeholder="Paste JSON here">
    <input type="submit" value="Submit">
  </form>
  <div id="result-box">
      <%- data %>
  </div>
</body>

</html>

